.profile__Greeter {
    text-align: center;
    margin: 3rem;
}

.profile__detailInfo {
    text-align: center;
}

.userForm__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.userForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 20rem */
    /* margin-left: 30rem;
    margin-right: 30rem; */
}

.userForm__input {
    width: 20rem;
}

.add_pet {
    border: 1px solid black;
    background-color: #89C2D9;
    width: 15%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 1rem;
  }
  
  .add_pet:hover {
    background-color: #296e8a;
    color: white
  }