.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .userForm {
     display: flex;
     flex-direction: column;
 }
 
 .userForm__input {
     margin: 0.5rem;
 }
 
 .login-form__title{
     margin-top: 1rem;
 }
 
 .login-form__btn{
     margin-top: 0.5rem;
 }