@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
 }
 
 .userForm {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     font-family: 'Abel', sans-serif;
 }
 
 .userForm__input {
    width: 15%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 1rem;
 }
 
 .login-form__title{
     margin-top: 1rem;
     font-size: 28px;
 }
 
 .login-form__btn{
    width: 15%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 1rem;
 }

 .login-form__btn:hover {
    background-color: #296e8a;
    color: white
 }

.log_in_btn { 
    background-color: #296e8a;
    color: white
}


 .log_in_btn{
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 1rem;
 }

 .account {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 28px;
 }