@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
 }
 
 .userForm {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     font-family: 'Abel', sans-serif;
 }
 
 .userForm__input {
     margin: 0.5rem;
 }
 
 .login-form__title{
     margin-top: 1rem;
 }
 
 .login-form__btn{
     margin-top: 0.5rem;
 }