.gm-style .gm-style-iw-c  {
    padding-right: 10px !important;
     padding-bottom: 0px !important;
     max-width: 500px !important;
     max-height: 926px !important;
     min-width: 0px !important;
     position: absolute;
     box-sizing: border-box;
     overflow: hidden;
     top: 0;
     left: 0;
     transform: translate(-50%,-100%);
     background-color: #dd919100;
     border-radius: 8px;
     box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
 }

 .gm-style-iw-d {
     overflow: hidden !important;
 }

 .gm-style-iw-t::after {
     height: 0px !important;
 }

 .gm-ui-hover-effect {
     top: 32px !important;
     right: 32px !important;
     background-color: #ffffff !important;
     border-radius: 25%;
     opacity: 100;
     box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);

 }

 .gm-ui-hover-effect:hover {
    background-color: #296e8a !important;
 }

