@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.profileCard__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 180px;
    object-fit: cover; */

}

.profileCard__photo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.profileCard {
    background-color: #89C2D9;
    margin: 15px;
    width: 300px;
    height: 460px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    /* padding-bottom: 8px; */
    
}

.profileCard--clicked {
    background-color:  #89C2D9;
    position: relative;
    margin: 15px;
    width: 300px;
    height: 560px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    
}

.descr {
    max-height: 4rem;
    overflow: auto;
    text-align: justify;
}

.profileCard__btn {
    padding: .5em;
    border-radius: 8px;
    border: none;
}

.profileCard__btn:hover {
    background-color: #296e8a;
    color: white;
}

.profileCard__name {
    /* font-weight: bold; */
    font-family: 'Bree Serif', serif;
}

.profileCard__email {
    font-weight: bold;
}

.profileCard__edit {
    font-size: 32px;
    background-color: #89C2D9;
    border: none;
    margin-right: 22px;
    margin-top: 4px;
}

.profileCard__edit:hover {
    color: white
}



.profileCard__delete {
    font-size: 32px;
    background-color: #89C2D9;
    border: none;
    margin-left: 22px;
    margin-top: 4px;
}

.profileCard__delete:hover {
    color: white
}
