.dog-form {
  margin-top: 5rem;
  height: 90vh;
}

.dog-profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.dog-profile-form__btn {
  width: 15%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  margin: 1rem;
}

.dog-profile-form__header {
  /* margin-top: 3em; */
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.dog-profile-form__input {
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1rem;
}

.dog-profile-form__label {
  margin: 1rem
}

.back {
  background-color: rgb(172, 172, 172);
  border: 1px solid black;
  padding-left: 2rem;
  padding-right: 2rem;
}

.back:hover {
  background-color: rgb(90, 90, 90);
}

.add_pet {
  background-color: #89C2D9;
}

.add_pet:hover {
  background-color: #296e8a;
  color: white
}

.popUp {
  margin-top: 2rem;
  text-align: center;
  font-size: x-large;
}