@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #89C2D9;
}

.navbar__profile-home{
  display: flex;
  justify-content: start;
}

.navbar__logOut-signIn {
  display: flex;
  justify-content: end;
}

.sign{
  justify-content: end;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.nav__list-item {
  font-size: 25px;
  padding: 0.5em;
  font-family: 'Abel', sans-serif;
  font-weight: b;
}


